
<!DOCTYPE html>
<html>

<head>
    <title>Home | Lokavidya Meet</title>
    <!--<link rel="icon" href="imageset/favicon.png">-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="images/Logo.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/navbar.css">

    <!--Montserrat Font-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <style>
        body {
            font-family: 'Montserrat';font-size: 14px;
        }
    </style>

    <script>
        function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
        }
    </script>




</head>


<body>

    <div class="topnav" id="myTopnav">
        <p style="font-size: 22px; font-weight: bold; margin-left: 50px;margin-top: 15px; color:white;">LOKAVIDYA Meet</p>
        
        
        
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 left">
                
                <div class="row">

                </div>
                <div class="row">

                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <p><img src="images/text.png" style= "height:100%; width: 100%;"></p>
                    </div>
                
                </div>
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2">

                    </div>
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        <p><img src="images/Benefits.png" style= "height:100%; width: 100%;"></p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2">

                    </div>
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        <p style="text-align: left; font-size: 15px;">Lokavidya Meet is a Video Conferencing Solution to provide the best online education and meetings to enable efficient interactions for the organisations and the students.</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2">


                    </div>
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        <p style="text-align: left; font-size: 15px;">Our services provide high-quality online learning experiences by empowering collaboration, learning & knowledge sharing. Our 2 Video Conferencing channels features different collaboration tools, such as content and screen sharing, slideshow, instant messaging, whiteboard features right on your fingertips. What are you waiting for?</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                    </div>

                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 login ">
                       


                        <a href="/login"><img src="images/log.png" width=120% ></a>
                    
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 login ">
                       
                       <a href="#"><img src="images/register1.png" width=120% ></a>
                    
                    </div>


                </div>




            </div>
            <div class="col-lg-6 col-md-6 col-sm-12  right">
                <div class="row">

                </div>
                <div class="row">

                </div>
    
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2">
                       
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <img src="images/intropage.png" height="100%"; width="100%";>
                    </div>
                    
                </div>
                
            </div>    
        </div>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>

</html>